{% extends "layout.html" %}

{% block content %}
    <div class="main p-5">
        <h1>Web Server - MQTT</h1>
        <div class="text my-5">
            <input type="text" name="topic" id="topic" placeholder="Enter topic to subscribe">
        </div>
        <div class="buton mb-5">
            <button onclick="subscribe()">Subscribe</button>
            <button onclick="unsubscribe()">Unsubscribe</button>
        </div>
        <div id="subscribed-topics"></div>
        <div id="messages"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/homepage.js')}}"></script>
{% endblock %}